<div id="home">
  <div id="user">
    <div id="error"></div>
    {{#if currentUser}}
    <p> Hey {{currentUser}}!</p> <button id="logout-button">Log out</button>
    <form>
      <input id="freet-input" type="text">
      <button id="freet-button" type="submit">Freet!</button>
    </form>
    {{else}}
    <form id="login-form">
      <input name="username" type="text">
      <button id="login-button" type="submit">Log in</button>
    </form>
    <form id="register-form">
      <input name="username" type="text">
      <button id="register-button" type="submit">Register</button>
    </form>
    {{/if}}
  </div>
  <div id="freet-container">
    {{#each freets}}
      <div id={{this._id}} class="freet">{{this.text}} {{this._user}}</div>
      {{#if this.ownership}}<button freet={{this._id}} class="delete-button">Delete</button>{{/if}}
    {{/each}}
  </div>
</div>