<div id="home">
  <div id="user">
    <div id="freet-error" class="error">
      {{#if notLoggedIn}}
        Log in or register to view freets!
      {{/if}}
    </div>
    {{#if currentUser}}
    <div id="new-freet-box">
      <form id="freet-form">
        <input id="freet-input" class="input" type="text" maxlength="160">
        <button id="freet-button" class="button" type="submit">Freet!</button>
      </form>
    </div>
    {{/if}}
  </div>
  <div id="freet-container">
    {{#each freets}}
      <div id={{this._id}} class="freet-box">
        {{#if this.ownership}}<button freet={{this._id}} class="delete-button no-border">X</button>
        {{else}}<button freet={{this._id}} class="rf-button">RF</button>
        {{/if}}
        <div class="freet-user">@<b>{{this.author}}</b> </div>
        {{#if this.isRefreet}} refreeted {{this.originalAuthor}} {{/if}}
        <em class="freet-time">({{this.ts}})</em> - <p class="freet-text">{{this.text}}</p>
      </div>
    {{/each}}
  </div>
</div>